body {
    background-image: url(./asset/background.jpg);
    z-index: 1;
}
h1 {
    font-size: 60px;
    text-align: center;
    font-family: 'Times New Roman';

}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    max-width: 800px;
    margin: auto;
    border: black 1px solid;
}

.tanah {
    width: calc(100%/3.75);
    position: relative;
}


.mancik {
}